<div class="hero-unit">
  <h1>Welcome to MikesSpace.com!</h1>
  <p>
		You can find some badass shit
		<%= link_to "here!", "http://1.bp.blogspot.com/-cp2dMBj_oRY/UCeY0NpK1mI/AAAAAAAAMwM/GhtVXqvZhHU/s1600/yall-need-jesus.jpg" %>
	</p>
  <p>
   <%= link_to "Sign up now!", "#", class: "btn btn-primary btn-large" %>
  </p>
</div>

