<div class="footer">
	<small>
		<%= link_to "One Month Rails Application", "http://onemonthrails.com" %>
		by 
		<%= link_to "Michael Melito", "http://www.linkedin.com/pub/michael-melito/19/773/97" %>
	</small>
</div>